*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 1920px;
    height: auto;
}
/* footer */
.footer{
    background-color: #293241;
    color: #FFD5C8;
}
.footer-wrapper{
    width: 1920px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 25%;
}
.footer-item-1{
    width: 330px;
    margin: 100px 20px;
    line-height: 1.5em;
}
.footer-item-1 h3{
   font-size: 30px;
   font-family: roboto;
   font-weight: 500;
   line-height: 1.4em;
}
.footer-item-1 span{
    font-size: 20px;
    font-family: roboto;    
}
.footer-item-1 span{
    color: white;
}
.copyright{
    background-color: #FFD5C8;
    color: black;
    font-size: 15px;
    font-family: roboto;
    text-align: center;
    padding: 10px;
    letter-spacing: 3px;
}
.bigger-font-icon{
    font-size: 30px;
    padding: 10px;
    padding-left: 0;
}
.d-flex{
    display: flex;
    line-height: 1.7em;
}
.spacing-text-special{
    margin: 0 15px;
}
/* ==================================End Footer========================================== */